/* Basic Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background: linear-gradient(#141414, #333);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Styling */
main {
    padding: 2rem;
    text-align: center;
}

section {
    margin: 2rem 0;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    background: linear-gradient(#333, #141414);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.inner-section {
    text-align: left;
    padding-block: 15px;
}

.headshot {
    width: 350px;
    height: auto;
    float: left;
    padding-right: 15px;
    max-width: 100%;
    max-height: 100%;
}

#resume-sections {
    text-align: left;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.about-heading {
    text-align: left;
}

.media-paragraph {
    padding-bottom: 15px;
}

